@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  min-height: 100%;
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

.header-logo {
  width: 139px;
  margin-left: 70px;
  margin-right: 30px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
  list-style: none;
}

.navigation-user {
  max-width: 264px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.welcome {
  background-image: url(../images/background/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome h1 {
  margin: 0;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.small-town {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-color: #FFFFFF;
  height: 284px;
}

.small-town p {
  margin: 0;
}

.small-town-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages h2 {
  margin: 0;
}

.advantages-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.advantages-sublist {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  height: 384px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-subitem {
  margin: 0;
  width: 400px;
  height: 384px;
  list-style-type: none;
}

.advantages-other {
  list-style-type: none;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  text-align: center;
}

.advantages-subitem-food {
  background-color: #FFFFFF;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages h4 {
  text-transform: uppercase;
}

.interested {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-color: #FFFFFF;
  height: 417px;
}

.interested h2 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.interested-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background-image: url(../images/background/subscribe-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 411px;
}

.subscribe-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-button {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
}

.page-footer {
  display: flex;
  background-color: #FFFFFF;
}

.footer-social {
  margin-left: 47px;
  width: 116px;
}

.footer-contacts {
  text-align: center;
  margin-left: 52px;
  width: 720px;
}

.footer-logo {
  width: 115px;
  margin-left: 53px;
}

.footer-contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration-line: none;
  font-weight: 400;
  text-transform: uppercase;
}

.inner-header h1 {
  margin: 0;
}

.filter-form {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin-left: 70px;
}

.filter-form-buttons {
  display: flex;
  flex-direction: column;
  height: 48px;
}

.hotels-catalog {
  background-image: url(../images/background/filter-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.hotels-catalog h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.button-apply {
  background-color: #82B3D3;
}

.product-card {
  background-color: #ffffff;
}

.product-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.product-list span {
  color: #333333;
}

.favorites-button {
  background-color: #82B3D3;
}

.in-favorites-button {
  background-color: #7DB54F;
}

.hotel-list-total {
  background-color: #FFFFFF;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
}

.product-list-container {
  width: 1056px;
  margin-left: 73px;
}

.hotels-found {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.rating-result {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  width: 140px;
  text-align: center;
}

.pagination {
  background-color: #FFFFFF;
}

.pagination-link,
.pagination-next {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.hotels-on-page {
  color: #333333;
}

.subscribe-catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  height: 411px;
}
